@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
}

h1 {
  margin-top: 20px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  margin-left: 200px;
}
#bton {
  background: linear-gradient(to right, #4b4276, #bdb8d7);
  color: #4b4276;
}
#task-header {
  color: #bdb8d7;
}
.labels {
  color: #bdb8d7;
  font-size: 16px;
  font: 500;
}
#parent-div {
  background: linear-gradient(to bottom, #ca8504, #10781c);
  padding-left: 20px;
}
.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #4b4276;
  padding: 30px 0px;
  position: fixed;
}
#alerts {
  display: none;
}
/* .wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
} */

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}


form {
  display: flex;
  flex-direction: column;
}

.form-row {
  padding: 5px 10px;
  display: flex;
}

.form-control {
  font-size: large;
}

.form-row input {
  flex: 1;
}

#duedate {
  padding: 5px 10px;
  font-size: large;
}

form button {
  flex: 1;
  margin-right: 25%;
  margin-left: 25%;
}

.form-group1 {
  flex: 2;
}

.form-group2 {
  flex: 1;
}

.description {
  height: 45px;
  border-radius: 5px;
  border: none;
  background-color: rgba(217, 217, 217, 1);
  
}

.name {
  height: 20px;
  border-radius: 5px;
  border: none;
  background-color: rgba(217, 217, 217, 1);
}
label {
  font-size: larger;
}
.form-row {
  display: block;
  clear: both;
}
select {
  font-size: large;
}

select {
  border-radius: 5px;
  border: none;
  background-color: rgba(217, 217, 217, 1);
}

option {
  border-radius: 5px;
  border: none;
}

input {
  border-radius: 5px;
  border: none;
  background-color: rgba(217, 217, 217, 1);
}

button {
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
}

button:hover {
  background-color: darkblue;
}

button:hover {
  background-color: darkblue;
}

.submit-task {
  color: whitesmoke;
  background-color: rgba(48, 144, 214, 1);
  
}

.px-3 {
  margin-bottom: 20px;
  margin-left: 200px;
}

.py-3 {
  margin-bottom: 20px;
  margin-left: 200px;
}

.card1 {
  margin-bottom: 20px;
  margin-left: 200px;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
}

.card2 {
  margin-bottom: 20px;
  margin-left: 200px;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
}

.card3 {
  margin-bottom: 20px;
  margin-left: 200px;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
}

.card4 {
  margin-bottom: 20px;
  margin-left: 200px;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
}

.card5 {
  margin-bottom: 20px;
  margin-left: 200px;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
}

.delete {
  color: whitesmoke;
  background-color: rgba(250, 98, 98, 1);
}

.in-progress {
  background-color: rgba(255, 215, 0, 1);
}


.in-progress:hover {
  color: white;
}

.in-progress:hover {
  color: white;
}

.done {
  color: whitesmoke;
  background-color: rgba(138, 192, 92, 1);
  border: none;
}

.cards li {
  margin: 5px;
}

.column1 {
  display: flex;
  flex-direction: row;
}

.column2 {
  display: flex;
  flex-direction: row;
}

.column3 {
  display: flex;
  flex-direction: row;
}

.message {
  width: 100%;
  position: relative;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}


/* .message .success { */

#success {
  font-size: 20px;
  color: green;
  position: absolute;
  animation: buttons .3s linear;
  display: flex;

}

.message .danger {

  visibility: hidden;
}

#emptyField {

  font-size: 20px;
  color: red;
  position: absolute;
  animation: buttons .3s linear;
  display: flex;

  visibility: hidden;
}

@media only screen and(max-width: 600px) {
  .sidebar {
    display: none;
  
  }
}